*{
    /*borra los margenes del modo predefinido*/
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
    
}
body{
    background: #313d52;
    text-align: center;
}
.titulo h1{
    display: inline-block;/*para que solo abarque la line del texto*/
    position: relative;/**/
}
.titulo h1::after, .titulo h1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;
}
.titulo h1::before{
    left: -140px;
}
.titulo h1::after{
    right: -140px;
}