*{
 
    margin: 0;
    padding: 1.5em;
   
    box-sizing: border-box;
    
}
body{
    background: #c9f0c1;
    
}
header{
    text-align: center;
}

.titulo h1{
    padding: 0.1em;
    display: inline-block;
    position: relative;
  
}

.titulo h1::after, .titulo h1::before{
    
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;
}
.titulo h1::before{
    left: -140px;
}
.titulo h1::after{
    right: -140px;
}